body{
  font-size: 1rem;
}
ul{
  margin:0;
  padding:0;
}
li{
  list-style: none;
  padding:.5rem;
}

.answers:hover{
    background-color: lightgrey;
}


.modal-body{
  height:70vh;
}

iframe{
  width: 100%;
  height:100%;
}

input,label{
  display:inline;
}
input{margin:0 1rem;}


.testheader{
  background-color: rgb(255,153,0);
  padding:.5rem;
  margin:0;
}

.questions{
  color:white;
  background-color: black;
  width:100%;
  padding:.5rem;
  margin:0;
}
.questionfooter{
  padding:1rem;
  background-color: rgb(248,249,250);
}
.right{
  color: green;
}
.wrong{
  color: red;
}
.specialbuttons, a{
  border: none;
  display: block;
  padding:0;
  background-color: inherit;
  color: navy;
  &:hover{
    color: navy;
    text-decoration: underline;
  }
}

.grade, .gradeall {
  display: block;
  margin:1rem;
}
